@import "styles/animation-1.css";
@import "styles/animation-2.css";

:root {
    /* Color */
    --color-1: #7400b8;
    --color-2: #48bfe3;
    --color-3: #80ffdb;
    /* Animation */
        /* Duration */
    --duration-short: .2s;
    --duration-medium: .5s;
    --duration-long: .8s;
        /* Cubic Bezier */
    --cubic-bezier-swift: cubic-bezier(.4, 0, .2, 1);
    --cubic-bezier-swifter: cubic-bezier(.4, 0, 0, 1);
    --cubic-bezier-swift-in: cubic-bezier(0, 0, .2, 1);
    --cubic-bezier-swift-out: cubic-bezier(.4, 0, 1, 1);
    --cubic-bezier-heavy: cubic-bezier(.7, 0, .6, 1);
}
